.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
}

#masthead {
  ul {
    li {
      a {
        font-family: $roboto-condensed;
        text-transform: uppercase;
        font-size: $font-size-base * 1.1;
      }

      &:last-of-type {
        a {
          padding-right: 0;
        }
      }
    }
  }
}

.splide__arrow {
  opacity: 1 !important;
  background: none !important;
}
