.wp-block-cover {
  min-height: 200px !important;

  @include media-breakpoint-up(md) {
    min-height: 500px !important;
  }

  @include media-breakpoint-up(lg) {
    min-height: 800px !important;
  }

  &__inner-container {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
  }
}
