.woocommerce {
  ul.products {
    li.product {
      border-left: 1px solid $grey-500;
      border-right: 1px solid $grey-500;
      border-top: 1px solid $grey-500;

      @include media-breakpoint-down(sm) {
        width: 100% !important;
      }

      @include media-breakpoint-up(md) {
        width: 46.2%;
      }

      @include media-breakpoint-up(lg) {
        width: 22.05%;
      }

      a {
        h2 {
          display: none;
        }

        img {
          margin-bottom: 0;
        }

        .woocommerce-loop-product {
          &__title {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            background: $orange;
            color: $white;
            text-transform: uppercase;
            font-family: $roboto-condensed;
            position: relative;

            &::after {
              width: 12px;
              height: 12px;
              display: inline-block;
              content: "";
              margin-left: $spacer / 2;
              background-image: url("../images/arrow-right-white.svg");
              background-repeat: no-repeat;
              background-position: center center;
              background-size: contain;
            }
          }
        }

        .price {
          display: none;
        }
      }

      .button,
      .alert {
        display: none;
      }
    }
  }
}

.swatch {
  display: flex;
  width: 100%;
  position: absolute;
  overflow: hidden;
  left: $spacer / 1;
  bottom: $spacer * 2;

  &--wrapper {
    width: 20px;
    height: 20px;
    border-radius: 100px;
    display: inline-block;
    overflow: hidden;
    margin-right: $spacer / 3;
    line-height: 0;
    border: 1px solid $teal;
  }

  &--color {
    width: 20px;
    height: 20px;
    display: block;
  }

  &--photo {
    width: 20px;
    height: 20px;
  }
}
