.woocommerce {
  /** Icons Fix **/
  .download {
    height: 15px;
  }

  .phone,
  .truck,
  .cart {
    height: 20px;
  }

  .phone-footer,
  .mail,
  .pin {
    width: 20px;
  }

  .woocommerce-breadcrumb {
    @extend .breadcrumb;

    padding-left: 0;
    padding-right: 0;
    font-size: $font-size-base;
    background-color: $grey-200;
  }
}

.woocommerce-variation-add-to-cart {
  display: none !important;
}
