.woocommerce {
  div.product {
    @extend .row;

    flex-direction: column;
    padding-top: $spacer;

    @include media-breakpoint-up(md) {
      flex-direction: row;
      padding-top: $spacer * 3;
    }

    .entry-summary {
      @extend .col-12;
      @extend .col-md-7;

      float: none;
    }

    .images {
      @extend .col-10;
      @extend .col-sm-6;
      @extend .col-md-5;

      margin: 0 auto;
      float: none;
    }

    form.cart {
      height: auto;
      margin-bottom: 0;

      .quantity,
      .single_add_to_cart_button {
        display: none;
      }
    }

    .affiliate-logos {
      display: flex;
      flex-direction: row;
      align-items: center;

      img {
        height: 50px;
        width: auto;

        &.siesta-logo {
          height: 80px;
        }
      }
    }

    .sku_wrapper {
      font-weight: $font-weight-bold;

      span {
        font-weight: $font-weight-normal;
      }
    }

    h1.product_title {
      @extend .h4;

      font-weight: $font-weight-bold;
    }

    p.price {
      @extend .display-2;

      margin-top: $spacer;
      font-family: $comfortaa;
    }

    .product_meta {
      .posted_in {
        display: none;
      }
    }

    .woocommerce-tabs {
      ul.tabs {
        margin: $spacer 0;
        padding: 0 ($spacer / 3);

        &::before {
          border-bottom: 1px solid $teal;
        }

        li {
          background: none;
          border: 0 none;

          a {
            color: $orange;
          }

          &.active {
            border-left: 1px solid $teal;
            border-right: 1px solid $teal;
            border-top: 1px solid $teal;

            &::before {
              border-right: 1px solid $teal;
              border-bottom: 1px solid $teal;
            }

            &::after {
              border-left: 1px solid $teal;
              border-bottom: 1px solid $teal;
            }
          }
        }
      }
    }

    .variations {
      .swatch-control {
        .select-option {
          border: 1px solid $teal;
          padding: 0;
          border-radius: 100%;
          overflow: hidden;
        }
      }

      a.reset_variations {
        color: $white;
        background: $grey-400;
        padding: ($spacer / 2) $spacer;
      }
    }

    .woocommerce-Tabs-panel {
      &--resources,
      &--video {
        .list-group {
          border: 0 none;

          &-item {
            border-left: 0 none;
            border-right: 0 none;
            border-top: 0 none;
            border-bottom-color: $teal;
            border-bottom-width: 1px;
            margin-bottom: 0;

            span {
              font-weight: $font-weight-bold;
            }

            &:hover {
              border-bottom-color: $orange;
              background: transparent;

              span {
                color: $orange;
              }
            }
          }
        }
      }

      &--additional_information {
        h2 {
          display: none;
        }

        table.woocommerce-product-attributes {
          border-top: 0 none;

          tr {
            th,
            td {
              border-bottom: 1px solid $teal;
            }

            td {
              padding-right: 0;
            }

            th {
              padding-left: 0;
            }

            &:nth-child(even) {
              th,
              td {
                background: none;
              }
            }
          }
        }
      }
    }

    .upsells.products {
      @extend .col-12;

      h2 {
        display: none;
      }

      img {
        margin-bottom: 0;
      }

      .woocommerce-loop-product {
        &__title {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          background: $orange;
          color: $white;
          text-transform: uppercase;
          font-family: $roboto-condensed;
          position: relative;

          &::after {
            width: 12px;
            height: 12px;
            display: inline-block;
            content: "";
            margin-left: $spacer / 2;
            background-image: url("../images/arrow-right-white.svg");
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;
          }
        }
      }

      .price {
        display: none;
      }

      .button {
        display: none;
      }
    }

    .related {
      display: none;
    }
  }
}

input[name="weshowtax_toggle_show_tax"] {
  @extend .btn;

  color: $teal;
  background: $grey-200;

  &:hover {
    background: $primary;
    color: $white;
  }
}
